.text {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	font-family: helvetica;
	color: black;
}
.name {
  margin-right: auto;
  margin-left: auto;
  font-family: helvetica;
  color: black;
  font: bold;
}
.white {
  color: white;
  font-family: helvetica;
}

h1 {
  text-align: center;
}
body {
  margin: 50px;
}

#p1 {
  background-color: pink;
  position: absolute;
  text-align: center;
  border: 1px solid black;
  width: 100px;
  height: 20px;
  top: 0px;
  right: 0px;
}
#p2 {
  background-color: red;
  position: absolute;
  text-align: center;
  border: 1px solid black;
  width: 100px;
  height: 20px;
  top: 0px;
  right: 0px;
}
#p3 {
  background-color: yellow;
  position: absolute;
  text-align: center;
  border: 1px solid black;
  width: 100px;
  height: 20px;
  top: 0px;
  right: 0px;
}

div#container1 {
  position: relative;
  top: 0px;
  right: 0px;
  padding: 10px;
  overflow: auto;
}
div#container2 {
  position: relative;
  top: 0px;
  right: 0px;
  padding: 10px;
  overflow: auto;
}
div#container3 {
  position: relative;
  top: 0px;
  right: 0px;
  padding: 10px;
  overflow: auto;
}